body{
    margin:0;
    padding:0;
}

*{ 
    box-sizing:border-box;
}
 header{
    width: 100%;
    background-color:#00e1ff;
    align-items: center;
 }
.container{
    padding-left:80px;
}
section{
    display:inline-block;
    width:400px;
}
img{
    width:100%;
    box-shadow: 3px 3px 3px orange;


    
}
h1{
    font-weight: 400;
    font-size:30px;
    font-style: italic;
   text-align-last:center;
   text-shadow:2px 2px;

}